{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Function Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/dashboard.css' %}">
</head>
<body>
    <h1>Function: {{ function.name }}</h1>

    <a href="{% url 'functions:function_list' %}">Back to Functions</a>

    <div class="form-wrapper">
        <p><strong>Name:</strong> {{ function.name }}</p>
        <p><strong>Status:</strong> {{ function.status }}</p>
        <p><strong>Docker Image:</strong> {{ function.docker_image }}</p>
        <p><strong>Scale:</strong> {{ function.min_scale }} - {{ function.max_scale }}</p>
        {% if function.url %}
            <p><strong>URL:</strong> <a href="{{ function.url }}" target="_blank">{{ function.url }}</a></p>
        {% endif %}
        <p><strong>Created:</strong> {{ function.created_at }}</p>
        <p><strong>Updated:</strong> {{ function.updated_at }}</p>
        <table>
            <thead>
                <tr>
                    <th style="padding: 8px; text-align: left;">Metric</th>
                    <th style="padding: 8px; text-align: left;">Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding: 8px;">Pod count</td>
                <td style="padding: 8px;">{{ metrics.pod_count }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">Total CPU usage</td>
                <td style="padding: 8px;">{{ metrics.total_cpu_usage }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">Total RAM usage</td>
                <td style="padding: 8px;">{{ metrics.total_memory_usage }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">CPU request</td>
                <td style="padding: 8px;">{{ metrics.total_cpu_request }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">RAM request</td>
                <td style="padding: 8px;">{{ metrics.total_memory_request }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">Pod uptime</td>
                <td style="padding: 8px;">{{ metrics.total_pod_uptime_seconds }}</td>
            </tr>
            <tr>
                <td style="padding: 8px;">Coldstart time</td>
                <td style="padding: 8px;">{{ metrics.max_cold_start_time_seconds }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="{% url 'functions:delete_function' function.id %}">Delete Function</a>
    </div>
</body>
</html>