{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Function</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
</head>
<body>
    <h1>Delete Function</h1>

    <div class="form-wrapper">
        <p>Are you sure you want to delete "{{ function.name }}"?</p>

        <form method="post">
            {% csrf_token %}

            <div style="padding: 10px;">
            <button type="submit" class="send-button">Yes</button>
            <a href="{% url 'functions:function_list' %}" class="send-button">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>