<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/password.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="form-wrapper">
            <h2>Reset Password</h2>
            <p>Enter your email to receive a recovery code:</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="send-button" type="submit">Send Recovery Code</button>
            </form>

            <p><a href="{% url 'users:login' %}">Back to Login</a></p>
        </div>
    </div>
</body>
</html>