<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Enter Recovery Code</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/password.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="form-wrapper">
            <h2>Enter Recovery Code</h2>
            <p>Check your email for the 6-digit code:</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="send-button" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>